@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
}

/* header-section start */

#header{
    margin-bottom:100px;
}
.header-wrapper{
    height:100vh;
    display:flex;

}
.header-text{
    width:50%;
    margin-left:5%;

}
.header-img{
    width:50%;
    
    
}
.header-img img{
    max-width:90%;
}
.headerTextbox h1 {
    font-size: 50px;
    line-height: 75px;
    color: goldenrod;
    text-transform: uppercase;
    font-weight: 700;
}
.headerTextbox h1 span {
    color: maroon;
}
.headerTextbox p {
    color: green;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.primaryBtn {
    text-decoration: none;
    text-transform: uppercase;
    color: red;
    font-weight: 500;
    background-image: linear-gradient(#05cb05,maroon);
    border-radius: 30px;
    padding: 15px 25px;
    display: inline-block;
    margin-top:20px;
}
/* header section end  */


/* about section start */
#about{
    padding-top:100px;
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    background-size: cover;

}
.about-wrapper{
    display:flex;

}
.about-image{
    width:50%;
    margin-left:5%;

}
.about-text{
    width:50%;
    margin-right:5%;
    margin-top:17px;
}
.about-image img{
    width:40%;
    display:flex;
}
.about-text h1 {
    text-transform: uppercase;
    color: maroon;
    font-weight: 700;
    font-size: 40px;
}
.about-text p {
    color: darkgreen;
    font-size: 20px;
    font-weight: 500;
    line-height: 35px;
}


/* about section end  */

/* recipie section start */
#recipies{
    margin-top:100px;
}
.Rheading{
    text-align: center;
}
.Rheading h2 {
    text-transform: uppercase;
    color: darkblue;
    font-size: 30px;
    font-weight: 700;
}
.Rheading p {
    color: mediumorchid;
    line-height: 1.5em;
}
.Ritems{
    display:flex;
}
.singleItem {
    width: 32%;
    margin: 2%;
    background: white;
    box-shadow: 4px 3px 23px 0;
    border-radius: 24px;
    padding: 13px 20px;
}
.singleItem img{
    width:100%;
}
.singleItem h3 {
    text-transform: uppercase;
    color: maroon;
    font-size: 21px;
    font-weight: 700;
}
.singleItem p {
    color: mediumvioletred;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
/* recipies section end */

/* profile start */

#profile{
    margin:100px 0;
}
.profile-wrapper {
    background-color: #fff;
    display: flex;
    box-shadow: 3px 3px 10px 0;
    border-radius: 60px;
    padding: 24px 19%;
    width: 57%;
    margin: auto;
}
.pro-text{
    width:32%;
    text-align:center;
}
/* profile section end */



footer{
    background-color: black;
    padding:20px;
}
.Ftext{
   text-align:center;
}
.Ftext h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
}
.Ftext .first {
    color: green;
    padding-right: 10px;
}
.Ftext .second{
    color:red;
}
.Ftext p {
    text-transform: capitalize;
    color: ghostwhite;
    font-size: 15px;
}